.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px;
}

.sidenav {
    width: 300px;

    &.mat-drawer-side {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}

.mat-sidenav-content {
    transition: margin-left 0.3s ease-in-out;

    &.mat-drawer-push {
        margin-left: 300px;
    }
}

.logo-container {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 55.3px;
    display: flex;
    align-items: center;

    img {
        height: 40px;
        width: 100%;
        object-fit: cover;
    }
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 22;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: none;
        }
    }
}

.customer-icon {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    ;
}

.toolbar-left {
    display: flex;
    align-items: center;
}

mat-icon {
    cursor: pointer;
}

.router-container {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 56px;

    @media (max-width: 520px) {
        padding: unset;
    }
}