.mat-drawer-container {
    height: 100vh;
    background-color: var(--main-content-background-color);
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px;
}

mat-slide-toggle {
    width: 100%;
}

.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #d81b60;
    --mdc-switch-selected-handle-color: #000000;
    --mdc-switch-selected-hover-state-layer-color: #d81b60;
    --mdc-switch-selected-pressed-state-layer-color: #d81b60;
    --mdc-switch-selected-focus-handle-color: #880e4f;
    --mdc-switch-selected-hover-handle-color: #880e4f;
    --mdc-switch-selected-pressed-handle-color: #880e4f;
    --mdc-switch-selected-focus-track-color: #424242;
    --mdc-switch-selected-hover-track-color: #f06292;
    --mdc-switch-selected-pressed-track-color: #403d3e;
    --mdc-switch-selected-track-color: #9C27B0;
    --mdc-switch-unselected-handle-color: #3F51B5;
}

.slide-toggle-text {
    color: var(--main-content-text-color);
}

.sidenav {
    width: 300px;
    background-color: var(--header-background-color);

    &.mat-drawer-side {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}

.mat-sidenav-content {
    transition: margin-left 0.3s ease-in-out;

    &.mat-drawer-push {
        margin-left: 300px;
    }
}

.logo-container {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-background-color);
    color: white;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 22;
    background-color: var(--header-background-color);
    color: var(--main-content-text-color);
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--main-content-text-color);

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: none;
        }
    }
}

.customer-icon {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.example-sidenav-content {
    background-color: var(--content-background-color);
    height: 100vh;
}

.toolbar-left {
    display: flex;
    align-items: center;
}

mat-icon {
    cursor: pointer;
}

.router-container {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    background-color: var(--main-content-background-color);

    @media (max-width: 1439px) {
        padding: unset;
    }
}