<mat-sidenav-container class="mat-drawer-container" autosize>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" class="sidenav" [opened]="true" mode="side">
        <div class="logo-container">
            <mat-icon>
                connect_without_contact
            </mat-icon><span>Simple CRM</span>
        </div>

        <ul class="menu-items">
            <li routerLink="/dashboard/dashboard-content" routerLinkActive="active" (click)="closeSidenavMobile()">
                <mat-icon>chrome_reader_mode
                </mat-icon>Dashboard
            </li>
            <li routerLink="/dashboard/customers" routerLinkActive="active" class="customer-icon"
                (click)="closeSidenavMobile()">
                <mat-icon>person</mat-icon>Customers
            </li>
            <li routerLink="/dashboard/privacy-policy" routerLinkActive="active" (click)="closeSidenavMobile()">
                <mat-icon>policy</mat-icon>Privacy
                policy
            </li>
            <li routerLink="/dashboard/imprint" routerLinkActive="active" (click)="closeSidenavMobile()">
                <mat-icon>article</mat-icon>Imprint
            </li>
            <li (click)="onThemeSwitchChange()" class="slide-toggle">
                <mat-slide-toggle [checked]="isChecked">
                  <span class="slide-toggle-text">{{ lightText }}</span>
                </mat-slide-toggle>
              </li>
            <li (click)="sidenav.toggle()"><mat-icon>close</mat-icon>close menu</li>
        </ul>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="toolbar-left">
                    <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
                    <span>Simple CRM</span>
                </div>
                <mat-icon (click)="authService.SignOut()" matTooltip="Logout">logout</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>