.user-detail-header {
    min-height: 250px;
    background-color: #f0a51a;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 16px;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

    @media (max-width: 520px) {
        flex-direction: column;
        align-items: center;
        min-height: unset;
    }
}

.user-details {
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }

    @media (max-width: 520px) {
        height: unset;
        margin-left: unset;
        justify-content: unset;
    }
}

.pin-left-upper-corner {
    position: absolute;
    left: 0;
    top: 0;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.pin-right-bottom-corner {
    position: absolute;
    right: 0;
    bottom: 0;
}

.customer-notes {
    margin: 16px 0;

    button {
        margin: 0 25%;
        margin-bottom: 20px;
    }

    mat-card-title {
        padding: 16px 16px 0;
    }

    mat-form-field {
        margin: 0;
    }
}

.notes {
    background-color: rgb(128 128 128 / 14%);

    h2 {
        padding: 16px 16px 0 16px;
    }

    mat-card-title {
        text-align: center;
    }
}

.notes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notes-card {
    width: 264px;
    height: 264px;
    padding: 24px;
    margin: 16px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    width: 100%;

    h3 {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
}

.notes-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}