h2 {
    text-align: center;
    color: var(--main-content-text-color);
}

.dashboard {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--logo-background-color);
    ;
    width: 200px;
    font-weight: 500;
    margin: 10px;
}

.card-header {
    background-color: #1976D2;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--logo-background-color);

    p {
        color: white;
        margin: 0;
        padding: 7px
    }
}

.card-number {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--main-content-text-color);

    p {
        margin: 0;
        padding: 7px
    }
}

.charts {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 50px;

    @media (max-width: 720px) {
        flex-direction: column;
    }
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-content-text-color);

    @media (max-width: 720px) {
        width: 100%;
        margin-bottom: 16px;
    }
}

#chart {
    min-width: 450px;
    margin: 35px auto;
    padding: 0;

    @media (max-width: 520px) {
        min-width: unset;
        margin: unset;
    }
}

.apexcharts-toolbar {
    display: none;
}

.news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--header-background-color);

    h1 {
        color: var(--main-content-text-color);
    }

    li {
        background-color: var(--news-content-background-color);

        div {
            color: var(--main-content-text-color);
        }
    }
}

.scrollable-news {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.news-heading {
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    color: #333;
    margin-bottom: 20px;
}

.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.news-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: flex;

        @media (max-width: 520px) {
            flex-direction: column;
        }
    }

    p {
        font-weight: 400 !important;
    }
}

.news-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 520px) {
        align-self: center;
        margin: 0;
    }
}

mat-card {
    width: 100%;
    background-color: var(--header-background-color);
    color: var(--main-content-text-color);
    margin-top: 16px;
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        cursor: pointer;

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
                text-align: center;
            }
        }

        th {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 500;
            text-align: start;
            color: var(--main-content-text-color);

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
                text-align: center;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.mat-mdc-card {
    box-shadow: unset;
}

.disabled {
    pointer-events: none;
    cursor: default;
}