.imprint {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 12px;
    color: var(--main-content-text-color);

    a {
        color: var(--main-content-text-color);
    }

    @media (max-width: 768px) {
        width: 90vw;
    }
}