<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="saveCustomerForm" (ngSubmit)="onSubmit()" class="dialog">
    <h1 mat-dialog-title>Add Customer</h1>
    <div mat-dialog-content class="mat-dialog-content">
        <div>
            <mat-form-field class="mt-10" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="customer.firstName" matInput required
                    formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="customer.lastName" matInput required
                    formControlName="lastName">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>E-Mail</mat-label>
                <input [(ngModel)]="customer.email" matInput required formControlName="email">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker1" required
                    formControlName="birth">
                <mat-datepicker-toggle matIconSuffix [for]="picker1" class="date-picker"></mat-datepicker-toggle>
                <mat-datepicker #picker1 class="calendar"></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street + House No.</mat-label>
                <input [(ngModel)]="customer.street" matInput required formControlName="street">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Zip code</mat-label>
                <input [(ngModel)]="customer.zipCode" matInput required formControlName="zipCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [(ngModel)]="customer.city" matInput required formControlName="city">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button cdkFocusInitial>Save</button>
    </div>
</form>