mat-card {
    width: 70vw;
    background-color: var(--header-background-color);
    color: var(--main-content-text-color);
    margin-top: 16px;

    @media (max-width: 720px) {
        width: 100vw;
    }
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
    background-color: var(--logo-background-color);

    @media (max-width: 1024px) {
        right: 2%;
        bottom: 2%;
    }
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        cursor: pointer;

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }

            @media (max-width: 520px) {
                &:last-child {
                    display: none;
                }
            }
        }

        th {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 500;
            text-align: start;
            color: var(--main-content-text-color);

            &:first-child {
                padding-left: 16px;
            }

            @media (max-width: 520px) {
                &:last-child {
                    display: none;
                }
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}