<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let customer of allCustomers">
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>


<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add Customer">
    <mat-icon>add</mat-icon>
</button>